Binaries
DerivedDataCache
Intermediate
Saved
Build
Docs


.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/MC_DungeonLife_Pack
Content/MonstersAndMagicsBundle
Content/Collections
Content/Characters
Content/Cursor
Content/Developers
Content/LevelPrototyping
Content/Wizard
Content/Medieval_pack
Content/InfinityBladeWeapons
Content/SwordTrailVFX
Content/FantasyBundle1
Content/HandPaintedEnvironment
Content/IthrisCemetery
Content/RPG_Interface_Essentials_Inventory_Dialog
Content/RPG_Interface_Essentials_PopUps
Content/RPGInterfaceEssentials
Content/TopDown
Content/Ancient_Game
Content/RPG_skills_and_abilities
Content/Vefects
Content/MegaMagicVFXBundle
Content/MagicKit
Content/Assets
Content/Sword_Animations
Content/Mage
Content/Wizard_Girl
Content/DARK_FANTASY_STAFF
Content/ARCHANGEL
Content/NAKED_SINGULARITY